<!--Article.html-->

<!--    <title th:text="${key}"/>-->
<!--    <h1 class="title" th:text="${key}"/>-->

<!--    <form th:action="@{/article-add}" method="post">-->

<!--    <div class="email__form" th:each="row : ${articles}">-->
<!--    <h1 class="title article" th:text="${row.title}"/>-->
<!--    <p th:text="${row.text}"/>-->
<!--    <a class="btn update" th:href="@{/articles/} + ${row.id} + @{/update}">Update</a>-->
<!--    <form th:action="@{/article/} + ${row.id} + @{/delete}" method="post">-->
<!--        <button class="btn delete" type="submit">Delete</button>-->
<!--    </form>-->


<!--Article-update.html-->

<!--        <div class="email__form" th:each="rew : ${article}">-->

<!--            <form th:action="@{/article/} + ${rew.id} + @{/update}" method="post">-->
<!--                <div class="form__group">-->
<!--                    <label for="input_to">Title article</label>-->
<!--                    <input type="text" name="title" id="input_to" th:value="${rew.title}">-->
<!--                </div>-->
<!--                <div class="form__group">-->
<!--                    <label for="textarea_message">Text article</label>-->
<!--                    <textarea name="text" id="textarea_message" placeholder="Text article" th:text="${rew.text}" />-->
<!--                </div>-  ->