<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/new-mogo/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../fonts/all.min.css">
    <link rel="stylesheet" href="../fonts/fontawesome.min.css">
    <title>Articles</title>
</head>
<body>

<header th:replace="blocks/header :: header" ></header>

<div th:replace="blocks/article-block :: article-block" ></div>

<footer th:replace="blocks/footer :: footer"></footer>

</body>
</html>