<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/new-mogo/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../fonts/all.min.css">
    <link rel="stylesheet" href="../fonts/fontawesome.min.css">
    <title>Articles</title>
</head>
<body>

<header th:replace="blocks/header-black :: header-black" ></header>

<form th:action="@{/logout}" method="post">
    <input class="logOut" type="submit" value="Sign Out"/>
</form>

<!-- Services -->
<section class="section">
    <div class="container">

        <div class="section__header">
            <h3 class="section__suptitle">We work with</h3>
            <h2 class="section__title">amazing services</h2>
        </div>

        <div class="services">
            <div class="services__item">
                <img class="services__icon" src="../css/new-mogo/Images/services/photography..png" alt="">

                <div class="services__title">Photography</div>
                <div class="services__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.consectetur, adipisicing.</div>
            </div>
            <div class="services__item">
                <img class="services__icon" src="../css/new-mogo/Images/services/webdesign.png" alt="">

                <div class="services__title">Web Design</div>
                <div class="services__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.consectetur, adipisicing.</div>
            </div>
            <div class="services__item">
                <img class="services__icon" src="../css/new-mogo/Images/services/creativity.png" alt="">

                <div class="services__title">Creativity</div>
                <div class="services__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. consectetur, adipisicing.</div>
            </div>
        </div>

        <hr>

        <div class="services">
            <div class="services__item">
                <img class="services__icon" src="../css/new-mogo/Images/services/seo.png" alt="">

                <div class="services__title">Seo</div>
                <div class="services__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.consectetur, adipisicing.</div>
            </div>
            <div class="services__item">
                <img class="services__icon" src="../css/new-mogo/Images/services/css-html.png" alt="">

                <div class="services__title">css/html</div>
                <div class="services__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.consectetur, adipisicing.</div>
            </div>
            <div class="services__item">
                <img class="services__icon" src="../css/new-mogo/Images/services/digital.png" alt="">

                <div class="services__title">digital</div>
                <div class="services__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. consectetur, adipisicing.</div>
            </div>
        </div>

    </div><!-- container -->
</section>


<section class="section section--devices">
    <div class="container">

        <div class="section__header">
            <h3 class="section__suptitle">For all devices</h3>
            <h2 class="section__title">Unique design</h2>
        </div>

        <div class="devices">
            <img class="devices__item" src="../css/new-mogo/Images/ipad.png" alt="">
            <img class="devices__item devices__item--iphone" src="../css/new-mogo/Images/iphone.png" alt="">
        </div>

    </div>
</section>

<footer th:replace="blocks/footer :: footer"></footer>

</body>
</html>