<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/email/email.css">
    <title>Email</title>
</head>
<body>

<div class="page">
    <div class="container">
        <main class="main">
            <form>
                <div class="form__title">
                    <h1>Send Message</h1>
                </div>
                <div class="form__group">
                    <label class="form__label" for="form_to">To</label>
                    <input class="form__input" type="text" id="form_to" name="to" placeholder="example@gmail.com">
                </div>
                <div class="form__group">
                    <label class="form__label" for="form_subject">Subject</label>
                    <input class="form__input" type="text" id="form_subject" name="subject" placeholder="Write subject">
                </div>
                <div class="form__group">
                    <label class="form__label" for="form_text">Text</label>
                    <textarea class="form__textarea" type="text" id="form_text" name="message" placeholder="Write your message"></textarea>
                </div>
                <div class="form__group">
                    <label for="photo">Attachement</label>
                    <input type="file" name="attachement" id="photo">
                </div>
                <button class="btn btn__send" type="submit">Send</button>
            </form>
        </main>
    </div>
</div>

</body>
</html>