<div th:fragment="article-block" xmlns:th="http://www.thymeleaf.org" th:each="art : ${listOfArticles}">
        <div class="section">
            <div class="container">
                <div class="reviews">
                    <a class="reviews__btn reviews__btn--prev" href="#">Prev</a>
                    <a class="reviews__btn reviews__btn--next" href="#">Next</a>
                        <div class="reviews__item">
                            <img class="reviews__photo" src="../css/new-mogo/Images/avatar.png" alt="">
                            <div class="reviews__author" th:text = "${art.title}">Joshua Earel</div>
                                <div class="reviews__text" th:text = "${art.text}">
                                    <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente a placeat reprehenderit culpa odio veniam praesentium fugiat earum velit assumenda.</i>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
</div>