<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__col footer__col--first">
                <div class="footer__logo">MoGo</div>
                <div class="footer__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores laudantium modi amet eligendi laboriosam, nostrum nam quis quae sit ut, corporis ducimus, autem doloremque nihil et culpa voluptatem aperiam eum.</div>

                <div class="footer__social">
                    <div class="footer__social-header">
                        <b>15k</b> followers
                    </div>
                    <div class="footer__social-content">
                        Follow Us:
                        <a href="#" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-pinterest-p"></i>
                        </a>
                    </div>
                </div>

                <form class="subscribe" action="/" method="POST">
                    <input class="subscribe__input" name="name" type="email" placeholder="Your Email...">
                    <button class="subscribe__btn" type="submit">Subscribe</button>
                </form>
            </div><!-- footer__col -->

            <div class="footer__col footer__col--second">
                <div class="footer__title">Blogs</div>

                <div class="blogs">
                    <div class="blogs__item">
                        <img class="blogs__img" src="../css/new-mogo/Images/blog/1.jpg" alt="">
                        <div class="blogs__content">
                            <a class="blogs__title" href="#">Lorem ipsum dolor sit amet consectetur adipisicing.</a>
                            <div class="blogs__date">Jan 9, 2016</div>
                        </div>
                    </div>

                    <div class="blogs__item">
                        <img class="blogs__img" src="../css/new-mogo/Images/blog/2.jpg" alt="">
                        <div class="blogs__content">
                            <a class="blogs__title" href="#">Lorem ipsum dolor sit amet consectetur adipisicing.</a>
                            <div class="blogs__date">Jan 9, 2016</div>
                        </div>
                    </div>

                    <div class="blogs__item">
                        <img class="blogs__img" src="../css/new-mogo/Images/blog/3.jpg" alt="">
                        <div class="blogs__content">
                            <a class="blogs__title" href="#">Lorem ipsum dolor sit amet consectetur adipisicing.</a>
                            <div class="blogs__date">Jan 9, 2016</div>
                        </div>
                    </div>
                </div><!-- blogs -->
            </div>

            <div class="footer__col footer__col--third">
                <div class="footer__title">Instagram</div>

                <div class="instagram">
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="../css/new-mogo/Images/instagram/1.jpg" alt="">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="../css/new-mogo/Images/instagram/2.jpg" alt="">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="../css/new-mogo/Images/instagram/3.jpg" alt="">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="../css/new-mogo/Images/instagram/4.jpg" alt="">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="../css/new-mogo/Images/instagram/5.jpg" alt="">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="../css/new-mogo/Images/instagram/6.jpg" alt="">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="../css/new-mogo/Images/instagram/7.jpg" alt="">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="../css/new-mogo/Images/instagram/8.jpg" alt="">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="../css/new-mogo/Images/instagram/9.jpg" alt="">
                    </a>
                </div>
            </div>

        </div><!-- footer__inner -->

        <div class="copyright">
            © 2016 Lorem ipsum dolor sit amet <span>consectetur</span>.
        </div>

    </div><!-- container -->
</footer>
</div>