body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: normal;
    background: url(../email/img/back_body_12.png);
}

*,
::before,
::after,
:active {
    box-sizing: border-box;
    outline: none;
}

h1,h2,h3,h4,h5,h6 p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: normal;
    border: 0;
    background: none;
}

.page {
    width: 100%;
    height: 100vh;


}

.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.main {
    width: 100%;
    max-width: 640px;
    padding: 20px;
    margin: 100px auto;
    background: url(../email/img/back_form_11.png);
}

.form__title {
    font-size: 20px;
    text-shadow: 0 0 1px rgb(10, 7, 158);
    text-align: center;
}

.form__input,
.form__textarea {
    display: block;
    width: 100%;
    padding: 10px;
    transition: border .2s linear, background .2s linear;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form__input:hover,
.form__textarea:hover {
    border: 1px solid rgb(177, 0, 0);

}

.form__input:focus,
.form__textarea:focus {
    border: 1px solid rgb(138, 0, 0);

}

.form__input:active,
.form__textarea:active {
    border: 1px solid rgb(138, 0, 0);

}

.form__input::placeholder,
.form__textarea::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: rgb(134, 134, 134);
}

.form__textarea {
    min-height: 200px;
    max-height: 300px;
    resize: vertical;
}

.form__group {
    margin: 10px 0;
}

.form__label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.btnEmail {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
    border-radius: 5px;
}

.send {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    margin-top: 15px;
    padding: 10px;

    background-color: #fff;
    text-shadow: 0 0 1px rgb(10, 7, 158);
}












